<%= render "shared/header" %>

<%# Recipe Diaryへようこその部分 %>
<div class='title-contents'>
  <%= image_tag "food-1932466__480.png", class:"top-image" %>
  <h2 class='service-title'>
    Recipe Diaryへようこそ
  </h2>
  <p class='service-explain-a'>
    Recipe Diaryはだれでもかんたんにレシピが閲覧・投稿でき、
  </p>
  <p class='service-explain-b'>
    更に自分の手料理記録も日記として保存ができる
  </p>
  <p class='service-explain-c'>
    レシピ機能、日記機能を兼ね備えた複合型アプリです。
  </p>
</div>
<%# Recipe Diaryへようこその部分 %>

<!-- レシピ一覧 -->
<div class="recipe-contents">
  <div class="recipe-content">
    <h2 class="heading-name">レシピ一覧</h2>
    <!-- 投稿されたレシピがある場合、中身を全てを展開する -->
    <% if @recipe.present? %>
    <% @recipe.each do |recipe| %>
    <ul class="all-recipe">
      <li class="recipe">
        <%= image_tag recipe.image, class:"recipe-image" %>
        <h4 class="recipe-name">
          <%= recipe.name %>
        </h4>
      </li>
    </ul>
    <% end %>
    <!-- 投稿されたレシピがある場合、中身を全てを展開する -->
    <% else %>
    <!-- 投稿されたレシピがない場合のダミー -->
    <ul class="all-recipe">
      <li class="recipe">
        <%= image_tag "bousai_nikujaga.png", class:"recipe-image" %>
        <h4 class="recipe-name">
          肉じゃが
        </h4>
      </li>
      <li class="recipe">
        <%= image_tag "food_omurice.png", class:"recipe-image" %>
        <h4 class="recipe-name">
          オムライス
        </h4>
      </li>
      <li class="recipe">
        <%= image_tag "food_gyouza.png", class:"recipe-image" %>
        <h4 class="recipe-name">
          餃子
        </h4>
      </li>
    </ul>
    <!-- 投稿されたレシピがない場合のダミー -->
    <% end %>
  </div>

</div>
<!-- レシピ一覧 -->
<%= render "shared/footer" %>