<%= render "shared/header" %>
<!-- レシピ一覧 -->
<div class="recipe-contents">
  <h2 class="title">レシピ一覧</h2>
  <!-- 和食のレシピを表示する -->
  <div class="wa-content">
    <h2 class="heading-name">和食</h2>
    <ul class="wa-recipe">
      <li class="recipe">
        <%= image_tag "bousai_nikujaga.png", class:"recipe-image" %>
        <h4 class="recipe-name">肉じゃが</h4>
      </li>
      <li class="recipe">
        <%= image_tag "bousai_nikujaga.png", class:"recipe-image" %>
        <h4 class="recipe-name">肉じゃが</h4>
      </li>
      <li class="recipe">
        <%= image_tag "bousai_nikujaga.png", class:"recipe-image" %>
        <h4 class="recipe-name">肉じゃが</h4>
      </li>
    </ul>
  </div>
  <!-- 和食のレシピを表示する -->

  <!-- 洋食のレシピを表示する -->
  <div class="you-content">
    <h2 class="heading-name">洋食</h2>
    <ul class="you-recipe">
      <li class="recipe">
        <%= image_tag "food_omurice.png", class:"recipe-image" %>
        <h4 class="recipe-name">オムライス</h4>
      </li>
      <li class="recipe">
        <%= image_tag "food_omurice.png", class:"recipe-image" %>
        <h4 class="recipe-name">オムライス</h4>
      </li>
      <li class="recipe">
        <%= image_tag "food_omurice.png", class:"recipe-image" %>
        <h4 class="recipe-name">オムライス</h4>
      </li>
    </ul>
  </div>
  <!-- 洋食のレシピを表示する -->

  <!-- 中華料理のレシピを表示する -->
  <div class="china-content">
    <h2 class="heading-name">中華料理</h2>
    <ul class="china-recipe">
      <li class="recipe">
        <%= image_tag "food_gyouza.png", class:"recipe-image" %>
        <h4 class="recipe-name">餃子</h4>
      </li>
      <li class="recipe">
        <%= image_tag "food_gyouza.png", class:"recipe-image" %>
        <h4 class="recipe-name">餃子</h4>
      </li>
      <li class="recipe">
        <%= image_tag "food_gyouza.png", class:"recipe-image" %>
        <h4 class="recipe-name">餃子</h4>
      </li>
    </ul>
  </div>
  <!-- 中華料理のレシピを表示する -->
</div>
<!-- レシピ一覧 -->
<%= render "shared/footer" %>