<%# レシピ投稿フォーム全体 %>
<div class="recipes-post-contents">
  
  <%= render "shared/second-header" %>
  
  <div class="recipes-post-main">
    <h2 class="recipes-post-title">料理のレシピを書く</h2>
    
    <%= form_with model: @recipe, url: recipes_path, method: :post, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>
    
    <%# 料理の写真 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        料理の写真
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"recipe-image" %>
      </div>
    </div>
    <%# /料理の写真 %>
    
    <%# 料理名、ジャンル、材料、調味料、作り方 %>
    <div class="new-recipes">
      <div class="weight-bold-text">
        料理名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"recipes-text", id:"recipe-name", placeholder:"料理名（必須 20文字まで)", maxlength:"20" %>
      <div class="recipes-genre">
        <div class="weight-bold-text">
          ジャンル
          <span class="indispensable">必須</span>
        </div>
        <div class="form">
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"recipe-genre"}) %>
        </div>
      </div>
      <div class="recipes-explain">
        <div class="weight-bold-text">
          材料
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :food, class:"recipes-text", id:"recipe-food", 
        placeholder:"材料（必須 1,500文字まで）   例）鶏肉 200g" ,rows:"10" ,maxlength:"1500" %>
      </div>
      <div class="recipes-explain">
        <div class="weight-bold-text">
          調味料
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :seasoning, class:"recipes-text", id:"recipe-seasoning", placeholder:"調味料（必須 1,500文字まで）例）塩 少々など" ,rows:"10" ,maxlength:"1500" %>
      </div>
      <div class="recipes-explain">
        <div class="weight-bold-text">
          作り方
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :procedure, class:"recipes-text", id:"recipe-procedure", placeholder:"作り方（必須 3,000文字まで）例）1、玉ねぎ、鶏肉を一口大にきる" ,rows:"15" ,maxlength:"3000" %>
      </div>
    </div>
    <%# 料理名、ジャンル、材料、調味料、作り方 %>

    <%# レシピ投稿ボタン %>
    <div class="post-btn-contents">
      <%= f.submit "レシピを投稿する" ,class:"post-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# レシピ投稿ボタン %>

  </div>

  <% end %>

  <%= render "shared/second-footer" %>
  
</div>
<%# レシピ投稿フォーム全体 %>
