<%= render "shared/third-header" %>

<%# マイページ全体 %>
<div class="my-page-contents">
  <%# ユーザー登録情報 %>
  <div class="account-content">

    <%# イメージ画像 %>
    <div class="account-box">
      <h2 class="account-title">アカウント</h2>
      <div class="account-image">
        <%= image_tag "my-page-icon.png", class:"account-icon" %>
      </div>
    </div>
    <%# イメージ画像 %>

    <%# ニックネームとメールアドレス %>
    <div class="account-registration">
      <div class="account-basic-info">
        <h5 class="basic-title"> 基本情報 </h5>
        <%= link_to '編集する', "#" , class: "edit-btn" %>
      </div>
      <ul class="account-info">
        <li class="row">
          <div class="nickname">
            ニックネーム
          </div>
          <div class="property">
            <%= current_user.nickname %>
          </div>
        </li>
        <li class="row">
          <div class="email">
            メールアドレス
          </div>
          <div class="property">
            <%= current_user.email %>
          </div>
        </li>
      </ul>
    </div>
    <%# ニックネームとメールアドレス %>

  </div>
  <%# ユーザー登録情報 %>

  <%# ユーザーの投稿情報 %>
  <div class="account-contents">
    
    <%# レシピと日記 %>
    <div class="user-contents">
      
      <%# レシピ %>
      <div class="account-recipe">
        <div class="content-title">
          <h4 class="content-name"> レシピ </h4>
          <div class="content-link">
            <%= link_to 'レシピ一覧', "#" , class: "move-link" %>
          </div>
        </div>
        <div class="recipe-main-content">
          <div class="recipe-main-image">
            <%= link_to 'レシピを投稿する', "#" , class: "write-recipe" %>
          </div>
          <form class="recipe-search-form" action="#">
            <input class="recipe-input" placeholder="レシピを検索する">
            <input class="recipe-send" type="submit" value="検索">
          </form>
        </div>
      </div>
      <%# レシピ %>

      <%# 日記 %>
      <div class="account-diary">
        <div class="content-title">
          <h4 class="content-name"> 日記 </h4>
          <div class="content-link">
            <%= link_to '日記一覧', "#" , class: "move-link" %>
          </div>
        </div>
        <div class="diary-main-content">
          <div class="diary-main-image">
            <%= link_to '日記を書く', "#" , class: "write-diary" %>
          </div>
        </div>
      </div>
      <%# 日記 %>

    </div>
    <%# レシピと日記 %>
    
    <%# ユーザーが投稿したレシピ %>
    <div class="my-recipe-contents">
      <div class="account-my-recipe">
        <div class="content-title">
          <h4 class="content-name"> あなたが投稿したレシピ </h4>
          <div class="recipe-count">
            <h4> レシピ投稿数： </h4>
            <h4> <%= @recipes.count %> </h4>
            <h4> 個 </h4>
          </div>
        </div>
        
        <%# 投稿したレシピがあれば表示する %>
        <% if @recipes.present? %>
        <ul class="recipes-wrapper">
          <% @recipes.each do |recipe| %>
          <li class="recipe-wrap">
            <%= link_to recipe_path(recipe.id),  method: :get do %>
            <%= image_tag recipe.image, class:"my-recipe-image" %>
            <% end %>
          </li>
          <% end %>
        </ul>
        <%# 投稿したレシピがあれば表示する %>

        <% else %>

        <%# 投稿したレシピがない場合のサンプル表示 %>
        <div class="my-recipe-main">
          <div class="my-recipe-sample">
            <h3> あなたもレシピを投稿してみよう </h3>
          </div>
        </div>
        <%# 投稿したレシピがない場合のサンプル表示 %>
        
        <% end %>
      </div>
    </div>
    <%# ユーザーが投稿したレシピ %>

  </div>
  <%# ユーザーの投稿情報 %>

</div>
<%# マイページ全体 %>

<%= render "shared/footer" %>