<%= render "shared/third-header" %>

<%# マイページ全体 %>
<div class="my-page-contents">
  <%# ユーザー登録情報 %>
  <div class="account-content">

    <%# イメージ画像 %>
    <div class="account-box">
      <h2 class="account-title">アカウント</h2>
      <div class="account-image">
        <%= image_tag "my-page-icon.png", class:"account-icon" %>
      </div>
    </div>
    <%# イメージ画像 %>

    <%# ニックネームとメールアドレス %>
    <div class="account-registration">
      <div class="account-basic-info">
        <h5 class="basic-title"> 基本情報 </h5>
        <%= link_to '編集する', "#" , class: "edit-btn" %>
      </div>
      <ul class="account-info">
        <li class="row">
          <div class="nickname">
            ニックネーム
          </div>
          <div class="property">
            <%= current_user.nickname %>
          </div>
        </li>
        <li class="row">
          <div class="email">
            メールアドレス
          </div>
          <div class="property">
            <%= current_user.email %>
          </div>
        </li>
      </ul>
    </div>
    <%# ニックネームとメールアドレス %>

  </div>
  <%# ユーザー登録情報 %>

  <%# ユーザーの投稿情報 %>
  <div class="account-contents">
    
    <%# レシピ %>
    <div class="recipe-contents">
      <div class="account-recipe">
        <div class="content-title">
          <h4 class="content-name"> レシピ </h4>
          <div class="content-link">
            <%= link_to 'レシピ一覧', "#" , class: "move-link" %>
          </div>
        </div>
        <div class="content-main">
          <div class="main-image">
            <%= link_to 'レシピを書く', "#" , class: "write-recipe" %>
          </div>
          <form class="recipe-search-form" action="#">
            <input class="recipe-input" placeholder="レシピを検索する">
            <input class="recipe-send" type="submit" value="検索">
          </form>
        </div>
      </div>
      <div class="my-recipe">
        <div class="content-title">
          <h4 class="content-name"> あなたの投稿したレシピ </h4>
        </div>
        <div class="content-main">
        </div>
      </div>
    </div>
    <%# レシピ %>
    
    <%# 日記 %>
    <div class="diary-contents">
      <div class="account-diary">
        <div class="content-title">
          <h4 class="content-name"> 日記 </h4>
          <div class="content-link">
            <%= link_to '日記一覧', "#" , class: "move-link" %>
          </div>
        </div>
        <div class="content-main">
        </div>
      </div>
    </div>
    <%# 日記 %>

  </div>
  <%# ユーザーの投稿情報 %>

</div>
<%# マイページ全体 %>

<%= render "shared/footer" %>